 
<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
  <a class="navbar-brand" href="/">Image Gallery</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/image/0/edit']">Add Image</a>
      <a class="nav-item nav-link" [routerLink]="['/about-us']">About Us</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="!openIdConnectService.userAvailable">Log in</a>
      <a class="nav-item nav-link" *ngIf="openIdConnectService.userAvailable"
                       (click)="openIdConnectService.triggerSignOut()">Log out</a>
    </div>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-dark bg-dark mt-5">
  <div class="navbar-expand m-auto navbar-text">
    &copy; 2018
  </div>
</nav>


