<div class="card">
    <div class="card-body">
        <div class="container">

            <div *ngFor="let image of images"
                 class="pull-left col-md-4">
                <div>
                    <img class="thumbnailImage"
                         src="{{'https://localhost:44372/images/' + image.fileName}}" alt="{{image.title}}">
                </div>
                <div>
                    <div class="h5">{{image.title}}</div>
                    <div class="bottomMarginDefault">
                        <a [routerLink]="['/image', image.id, 'edit']">Edit title</a> |
                        <a *ngIf="isAdmin"
                        [routerLink]="" (click)="deleteImage($event, image.id)">Delete image</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>