<div class="card">
    <div class="card-body">
        <div class="container">
            <form novalidate
                  (ngSubmit)="saveImage()"
                  [formGroup]='imageForm' enctype="multipart/form-data">
                <h2 class="leftMarginSmaller">{{pageTitle}}</h2>

                <div class="form-horizontal leftMarginDefault">

                    <div class="form-group">
                        <div>You image's title</div>
                        <input class="form-control"
                               id="title"
                               type="text"
                               placeholder="Title (required)"
                               formControlName="title"
                               [ngClass]="{'is-invalid': titleMessage }" />
                        <span class="invalid-feedback">
                            {{titleMessage}}
                        </span>
                    </div>

                    <div class="form-group">
                        <div>The image file</div>
                        <input id="fileUpload" type="file" formControlName="fileUpload"
                                (change)="onFileChange($event.target.files)"
                                accept=".jpg,.jpeg,.png" [ngClass]="{'is-invalid': fileUploadMessage }" />
                        <span class="invalid-feedback">
                            {{fileUploadMessage}}
                        </span>
                    </div>

                    <div class="form-group">
                        <div>
                            <button type="submit" [disabled]="!imageForm.valid"
                            class="btn btn-primary">Save</button>

                            <button type="button" style="margin-left:20px;"
                            [routerLink]="['/image-gallery']" class="btn btn-default">Cancel</button>

                            <button type="submit" style="margin-left:20px;"
                            class="btn btn-warning">Delete</button>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<br>Dirty: {{ imageForm.dirty }}
<br>Touched: {{ imageForm.touched }}
<br>Valid: {{ imageForm.valid }}
<br>Value: {{ imageForm.value | json }}
<br>Errors: {{ imageForm.errors | json }}